

<form action="/webscanner/scan" method="post">
  <input type="submit" value="Scan Sites (inactive)">
</form>


<form action="/webscanner/load" method="post">
  <input type="submit" value="Save to Database">
</form>

<li>
<%= "#{@sites}" %>
</li>
<li>
<%= "#{@posts}" %>
</li>
<li>
<%= "#{@comments} " %>
</li>
<li>
<%= "#{@authors} " %>
</li>