<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to "#{post.title}", post_url(post) %>
      <%= "#{post.comments.count}" %>
      <%= line_chart post.comments.group(:author).count %>
    </li>
  <% end %>
</ul>